.navbar {
    background-color: var(--navbar-color);
    box-shadow: var(--panel-shadow);
}

.brand img {
    height: 50px;
}

.search-bar-form {
    height: 60px;
    width: 450px;
}

.search-bar {
    background-color: var(--search-bar-color);
    border-color: var(--search-bar-color);    
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.03);
    font-size: 24px;
}

.search-bar-form {
    color: var(--text-color) !important;
}

.search-bar-icon {
    height: 20px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-link {
    color: var(--text-color);    
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link-btn {
    height: 60px;
    width: 90px;
}

.nav-link:hover {
    background-color: var(--secondary-color);    
}

.nav-link.active, .nav-link.active:hover {    
    background-color: transparent;
    color: var(--primary-hover-color);    
}

.navbar-icon {
    height: 25px;
}

.dropdown-menu {
    width: 350px;
    font-size: 20px;
}