/* Post button styles */

.post-btn {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
    transition: color 0.3s ease-in-out;
    height: 50px;
}

.post-btn:hover {
    color: black !important;
    background-color: lightGray !important;
}

.btn-primary {
    background-color: #007bff !important;
    color: white !important;
}

/* Image grid styles */

.image-grid {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
}
  
.image-grid-item {
    position: relative;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1 / 1;
}
  
.image-grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
  
.image-grid-more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
}