/* Custom styles for tabs */

.tab-content {    
    border-color: var(--panel-border-color);       
}

.tab-content .nav-tabs {
    border-bottom: 2px solid transparent;    
}

.tab-content .profile-nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;    
    color: black;
    padding: 0.5rem 1rem;    
}

.tab-content .nav-link {    
    background-color: var(--search-bar-color);  
    border-color: var(--panel-border-color) var(--panel-border-color) transparent;        
    font-weight: 600;
}

.tab-content .nav-link.active {    
    background-color: var(--panel-color);  
    border-color: var(--panel-border-color) var(--panel-border-color) transparent;    
    color: var(--text-color); 
    font-weight: 600;
}

.tab-content .nav-link.active:hover {
    background-color: var(--panel-color);    
    border-color: var(--panel-border-color) var(--panel-border-color) transparent;  
    color: var(--primary-color);
    font-weight: 600;
}

.tab-content .nav-link:hover {
    background-color: var(--secondary-color);
    border-color: var(--panel-border-color);
    color: var(--text-color);
}

.fixed-height-tab-content {
    height: 220px;
    overflow-y: auto;    
}

/* Profile page styles */

.about-me, .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; 
    margin-top: 30px;
    margin-left: 20px;
}

.about-me h4, .contact-info h4 {
    margin-bottom: 20px;
}

.contact-info p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 180px; 
    gap: 10px;
}

.profile-button {
    border-color: transparent !important;
}

.profile-button:hover {
    background-color: var(--primary-hover-color) !important;               
}

/* Profile posts styles */

.panel-posts {    
    background-color: var(--panel-color);
    box-shadow: var(--panel-shadow);
    height: 70px;
}

.panel-posts h4, .panel-posts p {
    margin-top: 15px;
    margin-left: 15px;
}